<ion-menu contentId="main-content" menuId="menu-derecho" side="end">
  <ion-content>
    <ion-list>
      <ng-container *ngIf="logueado">
        <ion-item href="/monitor">Monitores</ion-item>
        <ion-item *ngIf="isUser" href="/clase">Clases</ion-item>
        <ion-item href="/instalaciones">Nuestras instalaciones</ion-item>
        <ion-item href="/noticias">Noticias</ion-item>
        <ion-item href="/reseñas">Reseñas</ion-item>
        <ion-item href="/contacto">Contacto</ion-item>




        <ion-item *ngIf="isAdmin" href="/gestionMonitores">Gestión de Monitores</ion-item>


        <ion-item *ngIf="isMonitor" href="/gestionCliente">Gestión de clientes</ion-item>
      </ng-container>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu contentId="main-content" menuId="menu-izquierdo" side="start">
  <ion-content>
    <ion-list>
      <ion-item *ngIf="!logueado" href="login">Login</ion-item>
      <ion-item *ngIf="logueado && isUser" href="misclases">Mis Clases</ion-item>
      <ion-item *ngIf="logueado" (click)="logout()">Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu-izquierdo">
        <ion-icon name="person-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-item href="/home">
      <ion-img class="logo" src="https://media.istockphoto.com/id/1465621883/es/vector/logotipo-de-pilates.jpg?s=612x612&w=0&k=20&c=IjWsl3CTq9bZXDpV-tLcWF1aKld0F98Y8lbFhwTnc2U=" style="width:8vw"></ion-img>
    </ion-item>

    <ion-buttons slot="end">
      <ion-menu-button menu="menu-derecho"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
