<ion-menu contentId="main-content" menuId="menu-derecho" side="end">
  <ion-content>
    <ion-list>
      <ng-container *ngIf="logueado">
        <ion-item href="/monitor">Monitores</ion-item>
        <ion-item *ngIf="isUser" href="/clase">Clases</ion-item>
        <ion-item href="/instalaciones">Nuestras instalaciones</ion-item>
        <ion-item href="/noticias">Noticias</ion-item>

        <ion-item *ngIf="isAdmin" href="/gestionCliente">Gestión de Clientes</ion-item>
        <ion-item *ngIf="isAdmin" href="/gestionClases">Gestión de Clases</ion-item>
        <ion-item *ngIf="isAdmin" href="/gestionMonitores">Gestión de Monitores</ion-item>

        <ion-item *ngIf="isMonitor" href="/monitor">Monitores</ion-item>
      </ng-container>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu contentId="main-content" menuId="menu-izquierdo" side="start">
  <ion-content>
    <ion-list>
      <ion-item *ngIf="!logueado" href="login">Login</ion-item>
      <ion-item *ngIf="logueado && isUser" href="misclases">Mis Clases</ion-item>
      <ion-item *ngIf="logueado" (click)="logout()">Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu-izquierdo">
        <ion-icon name="person-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-item href="/home">
      <ion-img class="logo" src="https://th.bing.com/th/id/OIG3.Jiyzk.weRYVX.UU4.zDr?w=1024&h=1024&rs=1&pid=ImgDetMain" style="width:8vw"></ion-img>
    </ion-item>

    <ion-buttons slot="end">
      <ion-menu-button menu="menu-derecho"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
