<footer class="footer">
    <div class="container">
      <p>&copy; 2024 Ivan. Todos los derechos reservados.</p>
      <p>Hecho en 2024 en Sevilla</p>
      <ion-list>
        <ion-item href="/monitor">Monitores</ion-item>
        <ion-item *ngIf="logueado" href="/clase">Clases</ion-item>
        <ion-item href="/instalaciones">Nuestras instalaciones</ion-item>
        <ion-item *ngIf="!logueado" href="login">Login</ion-item>
        <ion-item *ngIf="logueado" href="misclases">Mis Clases</ion-item>
        <ion-item *ngIf="logueado" (click)="logout()">Logout</ion-item>
      </ion-list>
    </div>
  </footer>
  