<app-header></app-header>

<ion-content>
  <div class="fullscreen">
    <div class="image-container">
      <img src="https://images.ecestaticos.com/rHG3U9Gzsa7iXeNOR6NMRCNuKH4=/0x323:1915x1160/1338x583/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fefa%2F29e%2F047%2Fefa29e04795e77d5151c0cc3d0dcf71d.jpg" alt="Background Image" class="background-image">
      <h1 class="title">Contacta con nosotros</h1>
    </div>

    <div class="contact-info">
      <p><strong>Teléfono:</strong> 722 636 234</p>
      <p><strong>Dirección:</strong> Calle Berlín Portal 7</p>
      <p><strong>Correo:</strong> <a href="mailto:iruiznavarro7&#64;gmail.com">iruiznavarro7&#64;gmail.com</a></p>
    </div>

    <!-- Google Maps Embed -->
    <div class="map-container">
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3173.8103453246414!2d-3.688340384311758!3d37.16783377987583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd724d7b5bc8f2ab%3A0x39c8ad14c1d0149a!2sCalle%20Guadalema!5e0!3m2!1ses!2ses!4v1698152458757!5m2!1ses!2ses" 
        width="100%" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>

  <app-footer></app-footer>

</ion-content>

