.fullscreen {
  width: 100%;
  height: 100vh; /* Ocupa toda la pantalla */
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 117, 138);
  position: relative;
}

.image-container {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 5vw; /* Adaptativo según el ancho de la pantalla */
  color: #fff;
}

.centered-text {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2vw;
  margin-top: 20px;
  color: #fff;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; /* Asegura el centrado vertical */
  gap: 20px; /* Espacio entre los elementos */
  padding: 20px;
}

ion-item {
  display: flex;
  justify-content: center;  /* Centrar contenido horizontalmente */
  align-items: center;  /* Centrar contenido verticalmente */
  flex: 1 1 45%; /* Cada ítem ocupará alrededor del 45% del contenedor */
  max-width: 45%; /* Limita el ancho máximo */
  height: 100px; /* Define una altura para los ítems */
  margin: 10px;
  background-color: #2f807b; /* Color de fondo */
  border-radius: 8px;
  text-align: center; /* Centra el texto */
  color: white; /* Color del texto */
  font-family: 'Times New Roman', Times, serif; /* Fuente del texto */
  font-size: 18px; /* Tamaño del texto */
}

