<ion-content>
  <div class="monitor-list">
    <h1>Lista de Monitores</h1>
    <ion-list>
      <ion-item *ngFor="let monitor of monitores">
        <ion-label>
          <h2>{{ monitor.nombre }} {{ monitor.apellido1 }} {{ monitor.apellido2 }}</h2>
          <p>Email: {{ monitor.email }}</p>
          <p>DNI: {{ monitor.dni }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>


  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input placeholder="Nombre" [(ngModel)]="nombre"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input placeholder="Primer apellido" [(ngModel)]="apellido1"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input placeholder="Segundo apellido" [(ngModel)]="apellido2"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input placeholder="DNI" [(ngModel)]="dni"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input placeholder="Email" [(ngModel)]="email" type="email"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button (click)="CrearMonitor()">Registrar Monitor</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
